<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="header-container" *ngIf="hotel_web_editor">
        <ion-buttons slot="end">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <div class="site-logo-img">
          <img [src]="hotel_web_editor.homepage.logo">
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="activity" *ngIf="hotel_activities">
      
      <app-gallery [gallery]="hotel_activities"></app-gallery>

      <div class="activity-description">
        <h3>{{hotel_activities.name}}</h3>
        <div class="divider"></div>
        <p>{{hotel_activities.description}}</p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>