<div [formGroup]="reservationForm">
  <div class="reservation">
    <h2>Reservation</h2>
    <ion-item lines="none">
      <ion-input 
      placeholder="Your Name" 
      type="text"
      required
      formControlName="name"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input 
      placeholder="Email" 
      type="email" 
      required="required"
      formControlName="email"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input 
      placeholder="Phone" 
      type="tel" 
      required="required"
      formControlName="phone"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input 
      placeholder="Adult" 
      type="number" 
      required="required"
      formControlName="adult"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input 
      placeholder="Child" 
      type="number" 
      required="required"
      formControlName="child"
      ></ion-input>
    </ion-item>
    <div class="date">
      <ion-item lines="none">
        <ion-datetime placeholder="Check in" formControlName="check_in"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <ion-datetime placeholder="Check out" formControlName="check_out" [min]="this.reservationForm.value.check_in" [value]="this.reservationForm.value.check_in"></ion-datetime>
      </ion-item>
    </div>
    <ion-item lines="none">
      <ion-label>Rooms</ion-label>
      <ion-select formControlName="room" mode="ios">
        <ion-select-option [value]="room" *ngFor="let room of hotel_room">{{room.name}}</ion-select-option>
      </ion-select>
    </ion-item>
        
    <section>
      <ion-button (click)="reservation()" expand="block">Make a Reservation</ion-button>
    </section>
  </div>
</div>