<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="header-container" *ngIf="hotel_web_editor">
        <ion-buttons slot="end">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <div class="site-logo-img">
          <img [src]="hotel_web_editor.homepage.logo">
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="slider">
      <ion-slides pager="true" [options]="option">
        <ion-slide *ngFor="let slide of hotel_web_editor?.homepage?.slides">
          <div>
            <img [src]="slide">
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="reservation">
      <ion-item lines="none">
        <ion-input placeholder="Adult" type="number"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input placeholder="Child" type="number"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input placeholder="Date 2" type="date"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input placeholder="Date" type="datetime-local"></ion-input>
      </ion-item>
      <!-- <ion-item lines="none">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-datetime placeholder="Birthday"></ion-datetime>
      </ion-item> -->
      <ion-item>
        <ion-label>Room</ion-label>
        <ion-select interface="popover" mode="md">
          <ion-select-option value="standard">Standard Room</ion-select-option>
          <ion-select-option value="double">Double Room</ion-select-option>
          <ion-select-option value="family">Family Suits</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-label>
        <ion-checkbox mode="md"></ion-checkbox>
        <span>Test</span>
      </ion-label>
    </div>

    <div class="rooms-and-suits">
      <h2>Rooms & Suits</h2>
      <div class="room" *ngFor="let hotel_room of hotel_room">
        <img [src]="hotel_room.head_image">
        <div class="room-description">
          <h3>{{hotel_room.name}}</h3>
          <p>{{hotel_room.description}}</p>
          <ion-button mode="ios" [routerLink]="['room-details' ,hotel_room._id]">Explore &nbsp;<ion-icon
              name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>

    <div class="activity">
      <h2>Activity & Fun</h2>
      <!-- <ion-button slot="start"><ion-icon name="arrow-back-outline"></ion-icon></ion-button> -->
      <div class="activity-info">
        <ion-slides>
          <ion-slide *ngFor="let activities of hotel_activities" [routerLink]="['activity-details' ,activities._id]">
              <div class="activity-img">
                <img [src]="activities.images[0]">
              </div>
              <div class="activity-description">
                <h3>{{activities.name}}</h3>
                <p>{{activities.description}}</p>
              </div>
          </ion-slide>
        </ion-slides>
      </div>
      <!-- <ion-button slot="end"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button> -->
    </div>

    <div class="about">
      <h2>About Us</h2>
      <div class="about-description" *ngIf="hotel_web_editor">
        <span>{{hotel_web_editor.about}}</span>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>